<div class="app-container">
  @if (authService.user() && !isLandingPage()) {
    <mat-toolbar color="primary" class="main-toolbar mat-elevation-z4">
      <div class="toolbar-content">
        <a routerLink="/dashboard" class="brand">
          <mat-icon class="brand-icon">description</mat-icon>
          <span>Code Docs</span>
        </a>
        
        <span class="spacer"></span>
        
        <div class="user-section">
          <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
            <mat-icon>account_circle</mat-icon>
            <span class="username">{{ authService.user()?.username }}</span>
            <mat-icon>expand_more</mat-icon>
          </button>
          
          <mat-menu #userMenu="matMenu" xPosition="before">
            <button mat-menu-item routerLink="/dashboard">
              <mat-icon>dashboard</mat-icon>
              <span>Dashboard</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
  }

  <main class="main-content" [class.has-toolbar]="authService.user() && !isLandingPage()">
    <router-outlet />
  </main>
</div>
